/* Test precss */

@import "partials/base";

$blue: #cccccc;
$column: 200px;

.menu {
  width: calc(4 * $column);
}

.menu_link {
  background: $blue;
  width: $column;
}

.notice--clear {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}

@for $i from 1 to 3 {
  .b-$i { width: $(i)px; }
}

@each $icon in (foo, bar, baz) {
  .icon-$(icon) {
    background: url('icons/$(icon).png');
  }
}

@define-mixin icon $name {
    padding-left: 16px;

    &::after {
        content: "";
        background-url: url(/icons/$(name).png);
    }
}

.search {
    @mixin icon search;
}

@define-extend bg-green {
    background: green;
}

.notice--clear {
    @extend bg-green;
}

.heading {
    margin: 20px;
    padding: @margin;
}

.parent {
    background: white;

    @at-root{
        .child {
            background: black;
        }
    }
}

@b nav { /* b is for block */
    @e item { /* e is for element */
        display: inline-block;
    }
    @m placement_header {
        background-color: red;
    }
}
